body {
 background-color: black !important;
 color: rgb(187, 24, 24) !important;
 /* text-align: center;
 width: 100%; */
 font-size: 35px;
}
/* ######################################################################## */
/* #cards size */
.movie-image {
  width: 170px;
  height: 200px;
  border-radius: 1mm;
}

.h2 {
  flex-direction: column;
  text-align: center;
  font-size: 80px;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button:before {
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: red;
}

.slick-next:before, .slick-prev:before {
  font-size: 60px;
  line-height: 1;
  opacity: .75;
  color: #fff;
}
.movieList {
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  margin-top: 500;
  /* margin-bottom: 25rem; */
  font-weight: 800;
  line-height: 1.5;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #e41212;
}

.slick-next{
  margin-right: 4rem ;
}

.slick-prev{
  margin-left: 1.65rem;
}

.slick-next:before, .slick-prev:before {
  font-size: 60px;
  line-height: 1;
  opacity: 2;
  color: #dc3545;
}
.cards :hover {
  transition: all 0.4s ease-in-out 0s;
  transform: scale(1.04);
}
  /* login and signup button */
 .button {
  background-color: red;
  color: white;
  padding: 0.25rem;
  margin: 10px;
  border-radius: 6px;
  border: none;
  border-radius: 1mm;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.star-rating {
  display: flex;    
  justify-content: space-around;
}

.star {
  cursor: pointer;
  width: 2em;
  height: 2em;
  background-color: grey;
  -webkit-clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
  clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
}

.star.selected {
  background-color: red;
}

/* for login/signup hover */
/* 
.button:hover{
  color: white;
  background-color: red;
} */
